/* You can add global styles to this file, and also import other style files */

$bg-body: #ffe6e6;
$bg-header: #ffcccc;
$bg-border: #ff9999;
$color-icon: #ff4d4d;

* {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-body;
}

button {
  height: 40px;
  border: 3px solid $color-icon;
  border-radius: 5px;
  width: 80px;
  background-color: inherit;
  box-shadow: 0px 8px 15px $bg-border;

  &:hover {
    background-color: $bg-border;
    cursor: pointer;
    animation: scale 0.5s infinite;
  }
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}
