<footer>
  <span>
      Provided by:
      <a href="https://pokeapi.co/" target="_blank">PokeApi</a>
  </span>
  <div class="icons-container">
      Designed by
      <a target="_blank" href=""><i class="fa-brands fa-twitter"></i></a>
      <a target="_blank" href="https://www.instagram.com/cristiannl17/"><i class="fa-brands fa-instagram"></i></a>
      <a target="_blank" href="https://www.linkedin.com/in/cristian-navarro-5518ba1a9/"><i class="fa-brands fa-linkedin"></i></a>
      <a target="_blank" href="https://github.com/crst017"><i class="fa-brands fa-github"></i></a>
  </div>
</footer>
