<div class="pokedex">

  <div class="search-pokemon">

    <div class="search">
      <label for="search-pokemon">What's your favorite pokémon?</label>
      <input id="search-pokemon"placeholder="Type here" [(ngModel)]="inputFilter" (ngModelChange)="searchPokemon($event)"/>
    </div>

    <div class="filter-options">
      <form class="pagination">
        <button (click)="paginate('less')"><</button>
        <span>{{ page + 1}}</span>
        <button (click)="paginate('more')">></button>
      </form>

      <button (click)="orderAlphabetically()" >A - Z</button>
    </div>

  </div>


  <div class="pokemon-card-container">
    <pokemon-card
    *ngFor="let pokemon of filteredPokemons"
    [pokemon]="pokemon">
    </pokemon-card>
  </div>

  <div
    class="not-found"
    *ngIf="filteredPokemons.length === 0">
    <img  src="assets/pokemonNotFound.png" alt="pokemon-not-found">
    <span>Who's that Pokémon ?</span>
    <span>Sorry, we couldn't find that Pokémon</span>
  </div>

</div>
