.error-message {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: red;
  font-size: 12px;
  margin: 5px 20px;
}

h4 {
  font-weight: 800;
}

input, select, option {
  font-weight: 400;
}

.attr-description {
  font-weight: 600;
}
