$bg-border: #ff9999;
$color-icon: #ff4d4d;

img {
  border-radius: 5px;
  background-color: $bg-border;
}

button.go-back {
  position: absolute;
  bottom: -56px;
  right:-3px;
}

.pokemon-profile {
  margin-top: 80px;
  display: flex;
  position: relative;
  justify-content: space-between;
  border: 3px solid $color-icon;
  border-radius: 5px;
  box-shadow: 0px 8px 15px $bg-border;
  cursor: default;
}

.images-container {
  max-width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .main-image {
    width: 100%;
  }

  .sprite {
    width: 48%;
    margin-top: 10px;
  }
}

.pokemon-info {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 30%;

  h2 {
    text-transform: capitalize;
  }

  .pokemon-description {
    margin-top: 30px;
  }
}

.pokemon-stats {
  width: 30%;
  padding: 20px 50px;

  .individual-stat {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    progress {
      height: 20px;
      width: 100%;
      -webkit-appearance: none;
    }

    ::-webkit-progress-bar {
      background-color: gainsboro;
    }

    ::-webkit-progress-value {
      background-color: $bg-border;
    }
  }
}

.pokemon-types {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px 30px;
  min-width: 120px;

  .pokemon-id {
    font-size: 40px;
  }

  .pokemon-type {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $color-icon;
    border-radius: 5px;
    width: 100px;
    height: 36px;
    text-transform: capitalize;
    font-weight: 600;
  }
}
